<h2>Add a movie</h2>

<form action="/movies" method="POST">
    <label for="input-name">Name</label>
    <input type="text" id="input-name" name="name" placeholder="{{ movie.name }}" required/>

    <label for="input-genre">Genre</label>
    <input type="text" id="input-genre" name="genre" placeholder="{{ movie.genre }}" required/>

    <label for="input-plot">Plot</label>
    <input type="text" id="input-plot" name="plot" placeholder="{{ movie.plot }}" required/>

    <button>Submit</button>
</form>